* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #fec619;
    font-family: 'Source Sans Pro', sans-serif;
}
h1 {
    margin-bottom: 2.5rem;
}
a {
    color: #a10ebd;
}

section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

article {
    margin: 6rem auto;
    text-align: center;
}
/* image styling */
img {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
}
figure {
    display: block;
    margin: 3rem auto;
    width: 90%;
    max-width: 800px;
    border: 1px solid;
}
figcaption {
    text-align: center;
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
span.location {
    font-style: italic;
}
/* Logo Styling */
.header {
  background: rgba(104, 151, 187, 1);
  margin-top: 0;
  width: 100%;
}

.index-header {
  background: transparent;
}

.brand {
  display: flex;
  font-size: 2.25rem;
  font-weight: bold;
  height: auto;
  margin-left: 1.125rem;
  max-width: 7.8125rem;
  padding: 0;
  width: 100%;
}
/* End Header Logo Styling */
/* Responsive nav styles using Flexbox */
/* .navbar replaces nav and .main-nav replaces ul */
.navbar {
  background: transparent;
  display: flex;
  align-items: center;
  height: 70px;
  justify-content: space-between;
  padding-bottom: 0;
  width: 100vw;
}

.main-nav {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1.5rem;
  margin-right: 1rem;
  margin-top: 2rem;
  width: 100vw;
}


li {
    list-style-type: none;
    margin: 0.5vw;
    font-size: 2.75vh;
}

a {
    text-decoration: none;
    color: black;
    padding: 2vw;
    font-family: monospace;
}

.hamburger {
    display: none;
}

.navbar {
    background: transparent;
}

a:hover {
    color: #2f6690;
}
/* Site Footer  Styling */
.site-credits {
    text-align: center;
}
/* Sticky Footer Sylting */
html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.site-content {
    flex: 1 0 auto;
}

.site-credits {
    flex-shrink: 0;
    font-size: 1.2rem;
}
